body {
  background-color: #f7f6dc;
}

div.logo img {
	height: 60px;
	width: 60px;
	vertical-align: middle;
}

div.appstable {
	overflow: auto;
	height: 75%;
	margin-top: 10px;
}

table {
  font-family: cooper;
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

td {
  border: 2px solid #b6072a;
  text-align: left;
  padding: 8px;
}

th {
  border: 2px solid #b6072a;
  background-color: #b6072a;
  color: white;
  text-align: middle;
  padding: 8px;
}

td.appname {
	white-space:nowrap;
	margin-left: 10px;
}
td.desc {
	font-family: arial, sans-serif;
}

td.desc img {
	height: 60px;
	width: 150px;
	vertical-align: middle;
}

div.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #b6072a;
   color: white;
   text-align: right;
   font-family: arial, sans-serif;
}